{% extends "layout.html" %}

{% block content %}
<style>
    li{
        float: left;
        margin-right: 15px;
        margin-top: 40px;
        
    }
    .card{
        min-width: 225px;
        height: 325px
    }

</style>

<div style="width: 100%;">
<ul style="float: left;">
    
    <li>
        <div class="card" style=" background-color: #146f8f; color: #041014;">
            <div class="card-body" >
                <h3 class="card-title" >Pirmdiena</h3>
                <h3 class="card-text">Chest/Tricep</h4>
                <h5 class="card-text">Bench</h5>
                <h5 class="card-text">BenchInclineDumbell</h5>
                <h5 class="card-text">BenchPressMachine</h5>
                <h5 class="card-text">Flys</h5>
                <h5 class="card-text">TricepPullDowns</h5>
                <h5 class="card-text">TPD2Hands</h5>
                <h5 class="card-text">SkullCrushers</h5>
            </div>
                
        </div>
    </li>

    <li>
        <div class="card" style=" background-color: #146f8f;color: #041014;">
            <div class="card-body" >
                <h3 class="card-title" >Otrdiena</h3>
                <h3 class="card-text">Back/Bicep</h4>
                <h5 class="card-text">PullUps</h5>
                <h5 class="card-text">PullDowns</h5>
                <h5 class="card-text">SeatedRows</h5>
                <h5 class="card-text">CurlsWBar</h5>
                <h5 class="card-text">CurlsWDumbells</h5>

            </div>
                
        </div>
    </li>
    <li>
        <div class="card" style=" background-color: #146f8f;color: #041014;">
            <div class="card-body" >
                <h3 class="card-title" >Trešdiena</h3>
                <h3 class="card-text">Legs</h4>
                <h5 class="card-text">Squat</h5>
                <h5 class="card-text">LegPress</h5>
                <h5 class="card-text">LegExtensions</h5>
                <h5 class="card-text">LegCurls</h5>
                <h5 class="card-text">CalfRaises</h5>
                <h5 class="card-text">CalfRaises</h5>

            </div>
                
        </div>
    </li>
    <li>
        <div class="card" style="background-color: #146f8f; color: #041014;" >
            <div class="card-body" >
                <h3 class="card-title" >Ceturtdiena</h3>
                <h3 class="card-text">Shoulder</h4>
                <h5 class="card-text">ShoulderPressBar</h5>
                <h5 class="card-text">ShoulderPDumbell</h5>
                <h5 class="card-text">LateralRaises</h5>
                <h5 class="card-text">LateralRaises</h5>
                <h5 class="card-text">ForearmMachine</h5>
                <h5 class="card-text">ForearmWithBar</h5>
            </div>
                
        </div>
    </li>
    <li>
        <div class="card" style="background-color: #146f8f; color: #041014">
            <div class="card-body" >
                <h3 class="card-title" >Piektdina</h3>
                <h3 class="card-text">RestDay</h3>

                
        </div>
    </li>
    <li>
        <div class="card" style="background-color: #071e26; color: aquamarine;">
            <div class="card-body" >
                <h3 class="card-title" >Sestdiena</h3>
                <h3 class="card-text">Chest/Tricep</h4>
                <h5 class="card-text">Bench</h5>
                <h5 class="card-text">BenchInclineDumbell</h5>
                <h5 class="card-text">BenchPressMachine</h5>
                <h5 class="card-text">Flys</h5>
                <h5 class="card-text">TricepPullDowns</h5>
                <h5 class="card-text">TPD2Hands</h5>
                <h5 class="card-text">SkullCrushers</h5>
            </div>
                
        </div>
    </li>
    <li>
        <div class="card" style="background-color: #071e26;color: aquamarine;">
            <div class="card-body" >
                <h3 class="card-title" >Svētdiena</h3>
                <h3 class="card-text">Back/Bicep</h4>
                <h5 class="card-text">PullUps</h5>
                <h5 class="card-text">PullDowns</h5>
                <h5 class="card-text">SeatedRows</h5>
                <h5 class="card-text">CurlsWBar</h5>
                <h5 class="card-text">CurlsWDumbells</h5>
            </div>
                
        </div>
    </li>

</ul>s
</div>


{% endblock %}    
<br>
{% block quote %}
    <p style="color: #7cc0d8; font: Courier New; font-size: 30px; margin-top: 40px; margin-left:10%; margin-right:10%">“Those who do not understand true pain can never understand true peace.”</p>
{% endblock %}  